# Copyright IBM Corp. All Rights Reserved.
# Copyright 2020 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

services:
  #  org1
  ecc.peer0.org1.example.com:
    container_name: peer0org1_${CC_ID}_ccaas
    image: fpc/${CC_ID}${HW_EXTENSION:-}:${FPC_VERSION}
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_PKG_ID=${ORG1_ECC_PKG_ID}
      - FABRIC_LOGGING_SPEC=${FABRIC_LOGGING_SPEC:-DEBUG}
      - SGX_MODE=${SGX_MODE:-SIM}
    networks:
      - default
    volumes:
      - ${SGX_CREDENTIALS_PATH:-../../../config/ias/}:/project/src/github.com/hyperledger/fabric-private-chaincode/config/ias/
      - ${AESMD_PATH:-/dev/null}:${AESMD_PATH:-/dev/null}
    devices:
      - ${SGX_DEVICE_PATH:-/dev/null}:${SGX_DEVICE_PATH:-/dev/null}

  ercc.peer0.org1.example.com:
    container_name: peer0org1_ercc_ccaas
    image: fpc/ercc:${FPC_VERSION}
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_PKG_ID=${ORG1_ERCC_PKG_ID}
      - FABRIC_LOGGING_SPEC=${FABRIC_LOGGING_SPEC:-DEBUG}
      - SGX_MODE=${SGX_MODE:-SIM}
    networks:
      - default

  # org2
  ecc.peer0.org2.example.com:
    container_name: peer0org2_${CC_ID}_ccaas
    image: fpc/${CC_ID}${HW_EXTENSION:-}:${FPC_VERSION}
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_PKG_ID=${ORG2_ECC_PKG_ID}
      - FABRIC_LOGGING_SPEC=${FABRIC_LOGGING_SPEC:-DEBUG}
      - SGX_MODE=${SGX_MODE:-SIM}
    networks:
      - default
    volumes:
      - ${SGX_CREDENTIALS_PATH:-../../../config/ias/}:/project/src/github.com/hyperledger/fabric-private-chaincode/config/ias/
      - ${AESMD_PATH:-/dev/null}:${AESMD_PATH:-/dev/null}
    devices:
      - ${SGX_DEVICE_PATH:-/dev/null}:${SGX_DEVICE_PATH:-/dev/null}

  ercc.peer0.org2.example.com:
    container_name: peer0org2_ercc_ccaas
    image: fpc/ercc:${FPC_VERSION}
    environment:
      - CHAINCODE_SERVER_ADDRESS=0.0.0.0:9999
      - CHAINCODE_PKG_ID=${ORG2_ERCC_PKG_ID}
      - FABRIC_LOGGING_SPEC=${FABRIC_LOGGING_SPEC:-DEBUG}
      - SGX_MODE=${SGX_MODE:-SIM}
    networks:
      - default

networks:
  default:
    name: fabric_test
    external: true
