/*
Copyright IBM Corp. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

package attestation

#ifdef USE_SGX_HARDWARE_MODE

func GetVerifier() Verifier {
	return &VerifierImpl{}
}

func GetIAS() IntelAttestationService {
	return NewIAS()
}

#else // USE_SGX_HARDWARE_MOD

func GetVerifier() Verifier {
	return &MockVerifier{}
}

func GetIAS() IntelAttestationService {
	return &MockIAS{}
}

#endif
