#
# SPDX-License-Identifier: Apache-2.0
#


name: Git checks

on: [pull_request]

permissions:
  contents: read

jobs:
  block-fixup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Block Fixup Commit Merge
        uses: 13rac1/block-fixup-merge-action@v2.0.0